*{
    padding: 0;
    font-family: 'Rubik', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: #020403;
}
.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
}
.container-navbar{
    width: 100%;
    min-height: 9vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 2.8rem;
}
nav ul li a{
    text-decoration: none;
    color: #ADADAD;
    font-size: 18px;
}
nav ul li a:hover{
    color: #dbdada;
}
.container-foto-personal{
    width: 100%;
    display: flex;
}
.titulo-home{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 65rem;
    margin-bottom: 1rem;
}
.background-lines-1{
    background-image: url(/images/Group\ 99.svg);
    display: flex;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 695px;
}

.background-lines-2{
    background-image: url(/images/group\ 98.png);
    background-repeat: no-repeat;
    background-size: 100vw;
    width: 100%;
    height: 22rem;
}
.personal-foto{
    min-width: 18%;
    height: 57%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}
.grey-color{
    color: #ADADAD;
}
.mt-0{
    margin-top: 0;
}
.font-size-subtitulo{
    font-size: 50px;
    font-weight: 600;
}
.white-color{
    color: #FFFFFF;
}
.font-size-titulo{
    font-size: 100px;
    font-weight: 600;
}
.font-size-body{
    font-size: 18px;
    font-weight: 400;
}
.font-size-subsection{
    font-size: 45px;
    font-weight: 400;
}
.text-center{
    text-align: center;
}
.container-info-home{
    margin-top: -12rem;
}
.container-social-media-icon{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-media-icon{
    width: 3.6%;
    margin-top: -5rem;
    margin-right: 12rem;
}
.mb_-4rem{
    margin-bottom: -5rem;
}
.container-home{
    width: 100%;
}
.instagram-logo{
    width: 4%;
    height: 6%;
}
.about-me-p{
    display: flex;
    margin: auto;
    margin-top: -2rem;
    width: 90%;
}
#aboutMe{
    margin-top: -90px;
}
#myAbilities{
    margin-top: -18rem;
}
.background-circle1{
    min-height: 20rem;
    background-image: url(/images/Group\ 97.svg);
    background-repeat: no-repeat;
    background-position: 104%;
    background-size: 18rem;
    background-size: 16vw;
}
.text-left{
    display: inline-block;
    position: relative;
    left: 5%;
}
.abilities-container{
    display: flex;
    /* height: 310px; */
    height: 18.7rem; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.each-ability{
    display: flex;
    width: 10%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.abilities-images{
    background-color: #1C1616;
    width: 35%;
    padding: 7px;
    border-radius: 50px;
    margin: 0;
}
.container-experience{
    margin-top: -1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.each-experience{
    margin-top: -3rem;
    width: 70%;
    border-bottom: 1px #ADADAD solid;
}
.each-experience>p, .each-experience>div{
    display: inline-block;
}
.no-border{
    border: none;
}
.description-experience{
    margin-left: 36%;
}
.mb_-1rem{
    margin-bottom: -1rem;
}
.background-circle2{
    margin-top: -9rem;
    min-height: 20rem;
    background-image: url(/images/Group\ 97.svg);
    background-repeat: no-repeat;
    background-position: -4%;
    background-size: 18rem;
    background-size: 16vw;
}
.projects{
    display: flex;
    width: 75%;
    margin: auto;
    align-content: center;
    justify-content: space-evenly;
}
.each-project{
    width: 40%;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.container-contact{
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-evenly;
    text-align: center;
}
.contact-image{
    border: 2px #ADADAD solid;
    padding: 20px;
    border-radius: 36px;
}
.footer{
    padding: 30px;
}
@media only screen and (max-width:1100px){
    .each-experience{
        width: 90%;
    }
}
@media only screen and (max-width:1000px){
    nav ul{
        width: 100%;
        background-color: #020403;
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        text-align: center;
        display: block;
        margin-top: 0;
        margin-bottom: 10px;
        margin-right: auto;
    }
    .menu-icon{
        display: block;
    }
    #menuList{
        margin-top: -30px;
        overflow: hidden;
        transition: 0.5s;
    }
    .social-media-icon{
        margin-top: -1rem;
        width: 6%;
        margin-right: 2rem;
    }
}
@media only screen and (max-width:810px){
    .titulo-home{
        width: 15rem;
    }
    .text-left{
        display: block;
        position: static;
    }
    .personal-foto{
        min-width: 20%;
        height: 30%;
        margin-bottom: 0;
        margin-top: 0;
    }
    .font-size-body{
        font-size: 16px;
    }
    .font-size-subsection{
        font-size: 18px;
    }
    .font-size-subtitulo{
        font-size: 25px;
        font-weight: 500;
    }
    .font-size-titulo{
        font-size: 40px;
    }
    .mb_-4rem{
        margin-bottom: -1rem;
    }
    .container-info-home{
        margin-top: -30rem;
    }
    #aboutMe{
        margin-top: -15rem;
    }
    .about-me-p{
        margin-top: 1rem;
    }
    .text-left-mobile{
        text-align: left;
        padding-left: 1rem;
    }
    .each-ability{
        width: 20%;
    }
    .background-circle1{
        margin-top: -5rem;
    }
    #myAbilities{
        margin-top: -14rem;
    }
    .each-experience{
        width: 95%;
    }
    .each-experience{
        margin-top: -0.5rem;
    }
    #portafolio{
        margin-top: -8rem;
    }
    .projects{
        flex-wrap: wrap;
    }
    .each-project{
        width: 120%;
        margin-left: 0;
    }
    .container-contact{
        width: 70%;
    }
    .each-contact{
        margin-left: 2rem;
    }
}
@media only screen and (max-width:376px){
    .font-size-body{
        font-size: 13px;
    }
    .font-size-subsection{
        font-size: 14px;
    }
    .font-size-subtitulo{
        font-size: 24px;
        font-weight: 500;
    }
    .font-size-titulo{
        font-size: 36px;
    }
    .container-contact{
        width: 50%;
    }
    .each-contact{
        margin-left: 2rem;
    }
    .contact-image{
        width: 2.3rem;
    }
}